body{
	font-family: cursive;
}
header{
	font-size: 175%;
	color:hotpink;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}	
section>header{
	font-size: 125%;
	color:slateblue;
	float:right;
	background-color:orange;
	margin: 0px;
	border:2px solid orange;
	padding:7px;
}
section{
	border:2px solid orange;
	padding:10px;
	margin: 15px;
	box-sizing: border-box;
	background-color: lightpink;
        float:left;
}
@media (min-width: 992px){
	section{
		width:30%;
	}
}
p{
	color:black;
}

