header{
	font-size: 175%;
	color:hotpink;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
section > header{

	font-size: 125%;
	color:slateblue;
	text-align:right;
	
	
	margin: 0px;
}
section{
	
	border:2px solid orange;
	padding:10px;
	margin: 15px;
	box-sizing: border-box;
	background-color: lightpink;
    float:left;

}
@media (min-width: 902px){
	section{
		width:30%;
	}
}
p{
	color:black;
}

	
