body{
	font-family: cursive;
}
header{
	font-size: 175%;
	color:hotpink;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
section>header{
	font-size: 125%;
	color:slateblue;
	position:relative;
	float:right;
	background-color:orange;
	margin-top: -12px;
	margin-right:-12px;
	margin-bottom:0px;
	padding-left:30px;
	padding-right:30px;
	padding-top:2px;
	padding-bottom:5px;
	border:2px solid slateblue;
}
section{
	border:2px solid slateblue;
	padding:11px;
	margin: 16px;
	box-sizing: border-box;
	background-color: lightpink;
    float:left;
}
@media (min-width: 992px){
	section{
		width:30%;
	}
}
@media (min-width: 768px) and (max-width:992px ){
	section{
		width:45%;
		float:left;
	}
	section.tit{
        width:94%;
	}
}
@media (max-width: 767px){
	section{
		width:95%;
	}
}
p{
	color:black;
}
<<<<<<< HEAD
=======

>>>>>>> ddba96542a3e9003257985119e05d81802740c97
