body{
	font-size: 17px;
	color: #fff;
	/*background-color: #61122f;*/
	font-family: cursive;
}
/*#header-nav{
	background-color: gray;
	border-radius: 0;
	border:5px;	
	height: 100px;
}*/
#nav{
	border-radius: 0;
	background-color: lightgray;
	border:0;
}
.navbar-brand h1{
	font-size: 25px;
	text-align: left;
	color: black;
	margin-top: 0;
	font-weight: bold;
	font-family:cursive;
}
#main-content{
	
	background-color: lightgray;
	padding-left: 10px;
	padding-right: 10px;
}
 h1{
	color: black;
}
#main-content p{
	color: black;	
}
/*#main-content.col-xs-12{
	margin-top: 50px;
}*/
#main-page h2{
	text-align: center;
	color: black;
	padding-top: 5px;
}
#main-page h1{
	color: black;

}
#nav-list{
	margin-top: 10px;
	background-color: gray;
	text-align: center;	
	        	/*margin-bottom: 300px; */  
}
#nav-list a{
	color: black;

}
#nav-list a span:hover {
  background: #E7E7E7;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#main-page.container{
	margin-top: 20px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px 0;
 
    /*height: 80px;*/
  }
  /*.navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw; 
  }*/
  #collapsable-nav a { 
    font-size: 1.4em;
  }
  #collapsable-nav a span{ 
    font-size: 1em;
    margin-right: 5px; 
  }
}